* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body, html {

	height:100%;

}

.landing-page-container {

	background-image: url('../images/landing-page-bg.jpg');
	height: 100%;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}


#landing-jumbo {

  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  
}




/*.index-sub:hover{

   font-size: 29px;
   letter-spacing: 1px;
   
}*/

/*a:hover {

  font-size: 17px;
}*/


/* Login styling */


/*Remove Input Border except Bottom*/
#logInUser > input {

  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-radius: 0px;
  outline-color: white;
  outline:none;
  text-align: center;
}


/*Remove placeholder on focus*/
input:focus::placeholder {
  color: transparent;
}



#logInUser > input:focus {

  border-bottom: 2px solid #FF3333; 
  
}


/*Align placeholder to center*/
#loginUser ::-webkit-input-placeholder {
   text-align: center;
}

#loginUser :-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

#loginUser ::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

#loginUser :-ms-input-placeholder {  
   text-align: center; 
}


/*Remove default blue box on input on focus*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


.card {

  padding:30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}




/*profile picture*/
#profile-picture > img {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}

.space {

  height:24vh;
}


